export(cost)
export(sensitivity)
export(synthetic)
export(invprob)
importFrom("utils", "write.table")
importFrom("utils", "read.csv", "write.csv")
importFrom("GenSA", "GenSA")
importFrom("GA", "ga")
importFrom("stats", "rnorm")
